
.app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* dark slate */
  color: #e5e7eb;
  /* light gray */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Our "neuron" for now */
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #000;
}